dotenv

jupyter
torch
torchvision
torchaudio
stable_audio_tools==0.0.16
einops
datasets[audio]
yt-dlp
gradio
hydra-core
hydra-colorlog
pytorch-lightning==2.1.0
bitsandbytes
huggingface_hub[cli]
tokenizers==0.19.1

# For T5EncoderModel
soxr

# For audio analysis
librosa
matplotlib
numpy
frechet_audio_distance

# For music visualization and analysis
mir_eval
seaborn
plotly
pandas

# Testing
pytest
