dotenv

jupyter
torch
torchvision
torchaudio
stable_audio_tools==0.0.16
einops
datasets[audio]
yt-dlp
gradio
hydra-core
hydra-colorlog
pytorch-lightning==2.1.0
bitsandbytes
huggingface_hub[cli]

# For T5EncoderModel
soxr
